<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>EDIT POST</h1>
    <form method="POST" action="{{url_for('edit_post', id=post.id)}}">
        <label>Title</label>
        <input name="title" value="{{post.title}}"></br>
        <label>Author</label>
        <input name="author" value="{{post.author}}"></br>
        <label>Content</label>
        <textarea name="content" id="content"></textarea></br>
        <input type="submit" value="submit"></br>
    </form>
    <hr>

<script>
    document.getElementById("content").value = "{{post.content}}"
</script>
</body>
</html>